/* Global CSS */

body,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

header li {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.hidden {
  opacity: 0;
  display: none;
  visibility: hidden;
  width: 0;
}
.disabled {
  filter: brightness(50%);
  cursor: default;
}

.heading {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline;
}

.subheading {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline;
}

tr th {
  text-align: left;
  font-weight: 900;
  font-size: 1.1rem;
}

/* header */

header {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0%;
  top: 0%;
  height: 100%;
  transition: all 0.5s ease-in-out;
  background-color: rgba(255, 255, 255, 0.5);
  color: white;
  padding: 1rem;
  z-index: 1;
}

nav {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.toggle-bar {
  display: flex;
  justify-content: start;
}

.toggle-switch {
  padding: 0.2rem 1rem;
  border-radius: 1rem;
  border: none;
  outline: none;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  transition: all 0.5s;
  font-weight: bold;
}

.toggle-switch:hover,
.toggle-switch:focus {
  background: rgba(255, 255, 255, 1);
  color: black;
  transition: all 0.5s;
}

.nav-links {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 2rem;
}

.nav-links li a {
  padding: 0.5rem;
  border-radius: 1rem;
  transition: all 0.3s;
  outline: none;
}
.nav-links li a:hover,
.nav-links li a:focus {
  background-color: rgba(0, 0, 0, 0.5);
}

main {
  scroll-snap-type: y mandatory;
  display: flex;
  flex-direction: column;
}

@media (max-width: 480px) {
  header {
    padding: 0;
    width: 0;
  }
}

/* OTP (One-Time Password) generation */
section.OTPGeneration {
  background: url("./assets/wallpaper-1.webp") no-repeat center;
  background-size: cover;
  scroll-snap-align: start;
}

.otp-form {
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(0.5rem);
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: white;
  border-radius: 0.8rem;
}

.input-field {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.input-field input {
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  outline: none;
  border-radius: 0.8rem;
  border: none;
}

.cta button {
  padding: 0.5rem 1.5rem;
  border-radius: 1rem;
  border: none;
  outline: none;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.getOTP {
  background-color: blue;
}
.checkOTP {
  background-color: green;
}

.getOTP:hover {
  background-color: rgb(0, 0, 155);
}

.checkOTP:hover {
  background-color: rgb(0, 110, 0);
}
.getOTP:focus {
  background-color: rgb(0, 0, 155);
}

.checkOTP:focus {
  background-color: rgb(0, 110, 0);
}

.timer-container {
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
}

@media (max-width: 480px) {
  .otp-form {
    width: 100%;
  }
}

/* customer capture webpage */

section.customerCaptureWebpage {
  background: url("./assets/wallpaper-2.jpg") no-repeat center;
  background-size: cover;
  scroll-snap-align: start;
  font-family: "Courier New", Courier, monospace;
  justify-content: end;
  /* align-items: start; */
}

.customerCaptureWebpage-heading {
  color: white;
}

.customerCaptureWebpage .container {
  padding: 1rem;
  /* background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(0.5rem); */
  width: 92%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: purple;
  border-radius: 0.8rem;
}

.customerCaptureWebpage-form {
  background-color: white;
  padding: 1rem;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.customerCaptureWebpage-form select,
.customerCaptureWebpage-form input {
  padding: 0.5rem;
  color: purple;
  border-radius: 12px;
  outline: 0;
  border: solid 1px black;
  width: 100%;
}

.customerCaptureWebpage-form-cta {
  display: flex;
  width: 100%;
  gap: 1rem;
  margin-top: 1rem;
}

.customerCaptureWebpage-form input[type="submit"] {
  background-color: purple;
  color: white;
  font-weight: bold;
}

.customerCaptureWebpage-form-cta button,
.customerCaptureWebpage-form-cta input {
  padding: 0.5rem;
  border-radius: 12px;
  outline: 0;
  width: 100%;
  border: none;
  cursor: pointer;
}

.customerCaptureWebpage-form-cta button {
  background-color: red;
  color: white;
  font-weight: bold;
}

.customerCaptureWebpage-form-cta input[type="submit"]:hover,
.customerCaptureWebpage-form-cta input[type="submit"]:focus,
.customerCaptureWebpage-form-cta button:hover,
.customerCaptureWebpage-form-cta button:focus {
  filter: brightness(90%);
}

.customers {
  display: flex;
  gap: 1rem;
}

.newCustomer-heading,
.existCustomer-heading {
  font-weight: bold;
}

.newCustomer,
.existCustomer {
  background-color: white;
  padding: 1rem;
  width: 100%;
  border-radius: 8px;
  height: 35vh;
  overflow: scroll;
}

.newCustomer::-webkit-scrollbar,
.existCustomer::-webkit-scrollbar {
  display: none;
}

.customerCaptureWebpage-table {
  width: 100%;
}

.customerCaptureWebpage-table tr th {
  text-align: left;
}

.customerCaptureWebpage-add,
.customerCaptureWebpage-remove {
  outline: 0;
  border: none;
  padding: 0.3rem 0.8rem;
  border-radius: 12px;
  color: white;
}

.customerCaptureWebpage-add:hover,
.customerCaptureWebpage-remove:hover,
.customerCaptureWebpage-add:focus,
.customerCaptureWebpage-remove:focus {
  filter: brightness(80%);
}

.customerCaptureWebpage-add {
  background-color: green;
}

.customerCaptureWebpage-remove {
  background-color: red;
}

@media (max-width: 480px) {
  .customerCaptureWebpage .container {
    width: 100%;
  }
  .customers {
    flex-wrap: wrap;
  }
  .newCustomer,
  .existCustomer {
    height: 25vh;
  }
}

/* budget management system */

section.budgetmanagementsystem {
  background: url("./assets/wallpaper-3.jpg") no-repeat center;
  background-size: cover;
  scroll-snap-align: start;
}

.budgetmanagementsystem .container {
  width: 80%;
  padding: 2rem;
  backdrop-filter: blur(12px);
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.budgetmanagementsystem .container div {
  flex: 1;
}

.budgetmanagementsystem-form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 0.5rem;
}

.budgetmanagementsystem-form input,
.budgetmanagementsystem-form select {
  width: 100%;
  padding: 0.8rem;
  border-radius: 8px;
  border: none;
  outline: none;
  color: white;
  background-color: black;
}
.budgetmanagementsystem-form input:hover,
.budgetmanagementsystem-form select:hover,
.budgetmanagementsystem-form input:focus,
.budgetmanagementsystem-form select:focus {
  filter: brightness(90%);
}

.budgetmanagementsystem-form input:last-of-type {
  background-color: white;
  font-weight: bold;
  color: black;
}

.budgetmanagementsystem-rhs-table {
  border: solid;
  width: 100%;
}
.budgetmanagementsystem-rhs-table th {
  text-align: left;
}

@media (max-width: 480px) {
  .budgetmanagementsystem .container {
    width: 100%;
  }
  .budgetmanagementsystem .container {
    flex-direction: column;
  }
}

/* Task Scheduler */

section.taskScheduler {
  background: url("./assets/wallpaper-5.jpg") no-repeat center;
  background-size: cover;
  scroll-snap-align: start;
}

.taskScheduler .container {
  background-color: #ffffffaa;
  width: 45%;
  padding: 1rem;
  border-radius: 12px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 1rem;
}

/* .taskSchedulerContainer-lhs {
} */

.yellow {
  background-color: rgba(255, 255, 0, 0.5);
  color: white;
}
.orange {
  background-color: rgba(255, 200, 0, 0.5);
  color: white;
}
.red {
  background-color: rgba(255, 0, 0, 0.5);
  color: white;
}

.taskSchedulerContainerLhs-form {
  display: flex;
  flex-wrap: wrap;
  /* gap: .5rem; */
  justify-content: space-between;
}

.taskScheduler .heading {
  color: purple;
}

.taskSchedulerContainerLhs-form input,
.taskSchedulerContainerLhs-form select {
  padding: 0.5rem 1rem;
  outline: none;
  border: none;
  border-radius: 12rem;
  color: purple;
}
.taskSchedulerContainerLhs-form input:last-child {
  background-color: purple;
  color: white;
  font-weight: bold;
}

.taskSchedulerContainerLhs-form input:focus,
.taskSchedulerContainerLhs-form select:focus,
.taskSchedulerContainerRhs-cardContainer .card button:focus,
.taskSchedulerContainerLhs-form select:hover,
.taskSchedulerContainerLhs-form input:hover,
.taskSchedulerContainerRhs-cardContainer .card button:hover {
  filter: brightness(90%);
}

.taskSchedulerContainer-rhs {
  max-height: 50vh;
  overflow-y: auto;
  padding: 0.5rem 1rem;
}

.taskSchedulerContainer-rhs::-webkit-scrollbar {
  display: none;
}

.taskSchedulerContainerRhs-cardContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.taskSchedulerContainerRhs-cardContainer .card {
  padding: 0.5rem;
  box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.taskSchedulerContainerRhs-cardContainer .card button {
  padding: 0.3rem 1rem;
  box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  border: none;
  color: white;
}

.taskSchedulerContainerRhsCardContainerCta-edit {
  background-color: #0066ffaa;
}

.taskSchedulerContainerRhsCardContainerCta-dele {
  background-color: #ff0000aa;
}

@media (max-width: 480px) {
  .taskScheduler .container {
    width: 100%;
  }
  .taskSchedulerContainerLhs-form {
    gap: 0.5rem;
    justify-content: unset;
  }
  .taskSchedulerContainerLhs-form input:first-child {
    width: 100%;
  }

  .taskSchedulerContainerLhs-form input:nth-child(2) {
    width: 48%;
  }
  .taskSchedulerContainerLhs-form select {
    width: 48%;
  }

  .taskSchedulerContainerLhs-form input:last-child {
    width: 100%;
  }
}

/* web page with a table containing data */

section.webpageWithATableContainingData {
  background: url("./assets/wallpaper-4.jpg") no-repeat center;
  background-size: cover;
  scroll-snap-align: start;
}

.webpageWithATableContainingData .container {
  background-color: #000000aa;
  color: white;
  /* backdrop-filter: blur(100px); */
  width: 60%;
  padding: 1.5rem;
  border-radius: 12px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 1rem;
  overflow: auto;
}

.webpageWithATableContainingData-top {
  display: flex;
  width: 100%;
}

.webpageWithATableContainingData-top input {
  width: 100%;
  padding: 0.6rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  font-size: 1rem;
  color: gray;
}
.webpageWithATableContainingData-top input:hover,
.webpageWithATableContainingData-top input:focus {
  filter: brightness(95%);
}

.webpageWithATableContainingData-bottom {
  max-height: 60vh;
  overflow-y: auto;
}

.webpageWithATableContainingDataContainer-table {
  width: 100%;
}

.webpageWithATableContainingDataContainer-table thead {
  position: sticky;
  top: 0;
  z-index: 2;
}

/* .webpageWithATableContainingDataContainer-table tbody { */
/* width: 10%; */
/* } */

.webpageWithATableContainingDataContainer-table {
  border-spacing: 0.9rem;
}

@media (max-width: 480px) {
  .webpageWithATableContainingData .container {
    width: 100%;
  }
}

/* manage employee records */

section.manageEmployeeRecords {
  background: url("./assets/wallpaper-6.jpg") no-repeat center;
  background-size: cover;
  scroll-snap-align: start;
}

.manageEmployeeRecords .container {
  /* backdrop-filter: blur(1rem); */
  background-color: white;
  color: #212145;
  padding: 1.5rem;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 70%;
}

/* .manageEmployeeRecordsContainer-top{

} */

.manageEmployeeRecordsContainerTop-form {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  max-width: 100%;
}

.manageEmployeeRecordsContainerTop-form input::placeholder {
  color: #212145;
}

.manageEmployeeRecordsContainerTop-form input {
  width: 49%;
  padding: 0.5rem;
  outline: none;
  border: none;
  border-top: solid 1px;
}

.manageEmployeeRecordsContainerTop-form input:hover,
.manageEmployeeRecordsContainerTop-form input:focus {
  filter: brightness(95%);
}

.manageEmployeeRecordsContainerTop-form input:last-child {
  width: 100%;
  background-color: rgb(121, 0, 0);
  color: white;
  font-weight: bold;
}

.manageEmployeeRecordsContainer-middle {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.manageEmployeeRecordsContainerMiddle-inputContainer {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.manageEmployeeRecordsContainer-middle input {
  width: 100%;
  border: none;
  outline: none;
  padding: 0.5rem;
  border-radius: 4px;
  background-color: whitesmoke;
}

.manageEmployeeRecordsContainer-middle input:hover,
.manageEmployeeRecordsContainer-middle input:focus {
  filter: brightness(95%);
}

.manageEmployeeRecordsContainer-bottom {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: rgba(121, 0, 0, 0.3);
  border-radius: 12px;
  padding: 1rem;
}

.manageEmployeeRecordsContainerBottom-tableContainer {
  max-height: 30vh;
  overflow: auto;
}

.manageEmployeeRecordsContainerBottom-table {
  width: 100%;
  border-spacing: 1rem;
}

.manageEmployeeRecordsContainerBottom-table thead {
  position: sticky;
  top: 0;
  z-index: 2;
}

.manageEmployeeRecordsContainerBottom-table tbody tr {
}

.manageEmployeeRecordsContainerBottomTableTbody-cta {
  display: flex;
  gap: 0.5rem;
}

.manageEmployeeRecordsContainerBottomTableTbody-cta button {
  width: 49%;
  padding: 0.2rem;
  background-color: rgb(121, 0, 0);
  color: white;
  font-weight: bold;
  border: none;
  outline: none;
  border-radius: 4px;
}
.manageEmployeeRecordsContainerBottomTableTbody-cta button:hover,
.manageEmployeeRecordsContainerBottomTableTbody-cta button:focus {
  filter: brightness(130%);
}

@media (max-width: 480px) {
  .manageEmployeeRecords .container {
    width: 100%;
  }

  .manageEmployeeRecordsContainerTop-form input {
    width: 47%;
  }

  .manageEmployeeRecords .container {
    padding: 0.5rem;
  }
}

/* web page that displays a list of items */

section.webpageThatDisplaysAListOfItems {
  background: url("./assets/wallpaper-7.webp") no-repeat center;
  background-size: cover;
  scroll-snap-align: start;
}

.webpageThatDisplaysAListOfItems .container {
  background-color: rgba(0, 0, 133, 0.5);
  padding: 1.5rem;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  width: 40%;
}

.webpageThatDisplaysAListOfItems .container .heading {
  color: white;
}

.webpageThatDisplaysAListOfItems-top {
  display: flex;
  justify-content: center;
}

.webpageThatDisplaysAListOfItems-top ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;
}

.webpageThatDisplaysAListOfItems-top ul li {
  border-bottom: solid 1px rgb(255, 255, 255);
  border-radius: 5px;
  text-decoration: none;
  list-style-type: none;
  padding: 0.3rem 2rem;
  box-shadow: 0 4px 2px 1px rgba(255, 255, 255, 0.2);
  font-weight: bold;
  color: rgb(255, 255, 255);
  cursor: default;
}

.webpageThatDisplaysAListOfItemsTop-items {
}

.webpageThatDisplaysAListOfItems bottom {
}

.pagination-bar {
  display: flex;
  justify-content: space-between;
}

.paginationBar-numberBar {
  display: flex;
  justify-content: space-between;
  /* border: solid; */
  width: 100%;
  padding: 0 0.5rem;
  flex-wrap: wrap;
  gap: 0.1rem;
}

.pagination-bar > button {
  background-color: rgb(0, 27, 116);
  white-space: nowrap;
}

.paginationBar-numberBar > button {
  background-color: rgb(0, 27, 116, 0.5);
}

.pagination-bar button {
  color: white;
  padding: 0.2rem 0.6rem;
  border: none;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
}
.pagination-bar button:hover,
.pagination-bar button:focus {
  filter: brightness(85%);
}

@media (max-width: 480px) {
  .webpageThatDisplaysAListOfItems .container {
    width: 100%;
  }
}

/* users can input their expenses */

section.usersCanInputTheirExpenses {
  background: url("./assets/wallpaper-8.webp") no-repeat center;
  background-size: cover;
  scroll-snap-align: start;
}

.usersCanInputTheirExpenses .container {
  background-color: whitesmoke;
  width: 50%;
  padding: 1.5rem;
  border-radius: 12px;
  color: #b97548;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.usersCanInputTheirExpensesContainer-top {
  display: flex;
}

.usersCanInputTheirExpensesContainerTop-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}

.usersCanInputTheirExpensesContainerTop-form input::placeholder {
  color: #b97548;
}

.usersCanInputTheirExpensesContainerTop-form input {
  width: 100%;
  padding: 0.5rem;
  border: none;
  border-bottom: 1px solid;
  outline: none;
  background-color: transparent;
  color: #b97548;
}
.usersCanInputTheirExpensesContainerTop-form input:last-child {
  background-color: #b97548;
  color: white;
  font-weight: bold;
}

.usersCanInputTheirExpensesContainerTop-form input:hover,
.usersCanInputTheirExpensesContainerTop-form input:focus {
  filter: brightness(80%);
}

.usersCanInputTheirExpensesContainer-middle {
  max-height: 30vh;
  overflow-y: auto;
}

.usersCanInputTheirExpensesContainerMiddle-table thead {
  position: sticky;
  top: 0;
  z-index: 2;
}

.usersCanInputTheirExpensesContainerMiddle-table {
  width: 100%;
  border-spacing: 1rem;
  background-color: white;
  border-radius: 12px;
}

.usersCanInputTheirExpensesContainer-bottom {
}

.usersCanInputTheirExpensesContainer-bottom {
  background-color: white;
  border-radius: 12px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
}

.usersCanInputTheirExpensesContainerBottomSummaryContainer-summary {
  font-size: 1.5rem;
}

@media (max-width: 480px) {
  .usersCanInputTheirExpenses .container {
    width: 100%;
  }
}

/* registration form */

section.registrationForm {
  background: url("./assets/wallpaper-9.jpg") no-repeat center;
  background-size: cover;
  scroll-snap-align: start;
}

.registrationForm .container {
  /* backdrop-filter: blur(4px); */
  background-color: white;
  color: #452689;
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1.5rem;
  border-radius: 12px;
}

.registrationForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.registrationForm-name,
.registrationForm-password,
.registrationForm-number,
.registrationForm-email {
  color: red;
  font-size: 0.8rem;
  padding: 0 0.5rem;
}

.registrationForm label {
  width: 100%;
}

.registrationForm input::placeholder {
  color: #285f9d;
}

.registrationForm input,
.registrationForm select {
  padding: 0.5rem;
  color: #285f9d;
  /* background-color: rgb(153, 255, 0); */
  border: none;
  border-bottom: solid 2px;
  outline: none;
  width: 100%;
}
.registrationForm input:hover,
.registrationForm select:hover,
.registrationForm input:focus,
.registrationForm select:focus {
  filter: brightness(95%);
}

.registrationForm input:nth-child(6) {
  filter: brightness(90%);
}

.registrationForm input:last-child {
  background-color: #452689;
  font-weight: bold;
  border: none;
  color: white;
}

@media (max-width: 480px) {
  .registrationForm .container {
    width: 100%;
  }
}
